USE [master]
GO
/****** Object:  Database [SMD]    Script Date: 11/6/2021 1:33:07 AM ******/
CREATE DATABASE [SMD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SMD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SMD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMD]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/6/2021 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/6/2021 1:33:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [int] NOT NULL,
	[Subject_name] [nvarchar](250) NOT NULL,
	[Subject_mark] [decimal](4, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ((0.0)) FOR [Subject_mark]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [fk_student_subject] FOREIGN KEY([id])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [fk_student_subject]
GO
USE [master]
GO
